body{
	background:#ececec url(../images/sos.png) repeat ;
	font-size:87.5%;
	font-family:arial, sans-serif;
	color:#000000;
	line-height:1.7em;
	text-align:center;
}

a{
	text-decoration:none;
	color:#781a26;
}
footer a{
	text-decoration:none;
	color:#666666;
}
#contact {
	text-align:center;
	background:#C0C0C0;
	border-radius:5px;
	border:1px #c13046 solid;
	border-style: solid;
	border-color: #882433;
	border-width: 3px;
}
#About{
	text-align:center;
	background:#C0C0C0;
	border-radius:5px;
	border:1px #c13046 solid;
	margin:5px 0px;	
	border-style: solid;
	border-color: #882433;
	border-width: 3px;
}
#About .foto{
	border-radius:50%;
	border-style: solid;
	border-color: #882433;
	border-width: 5px;
	width:20%;
	height:20%;
}
a:hover{
	color:#666666;
}

h2{
	color:#781a26;
}

.clr{
	clear:both;
}

#container{
	width:100%;
	margin:1px 0px;;
	overflow:auto;
	clear:both;
}


.main-header .main-nav{
	background:#882433;
	height:40px;
	width:99%;
	border-radius:5px;
	border:1px #c13046 solid;
	
}

.main-header .main-nav ul{
	lis-style:none;
	margin:0;
	padding:0;
}
#Knowledge{
	background:#C0C0C0;
	border-radius:5px;
	border:1px #c13046 solid;
	margin:5px 0px;
	border-style: solid;
	border-color: #882433;
	border-width: 3px;
}


.main-header .main-nav li{
	color:#ffffff;
	display:inline;
	float:center;
	margin-right:3px;
}

.main-header .main-nav li a{
	color:#ffffff;
	display:inline-block;
	padding:10px 20px;
	height:20px;
}

.main-header .main-nav li a:hover,.main-header .main-nav li a.active{
	background:#efeadd;
	color:#666666;
	border-radius:5px;
}

#main{
	width:100%;
	float:center;
	overflow:auto;
	transition:width 1s;
	text-align:center;
}


footer{
	background:#882433;
	height:120px;
	border:1px solid #c13046;
	margin-top:10px;
	border-radius:5px;
}

footer p{
	color:#ffffff;
	margin:0;
	padding:10px 0 0 0;
	text-align:center;
}

.myCarousel{
	border-style: solid;
	border-color: #000000;
	border-width: 0.01px;
	border-radius:5px;
	margin:5px 0px 0px 0px;
	width:70%;
	height:70%;
	float: center;
	text-align:center;
}


/*Tablet/Ipads (Portrait and Landscap) */
@media only screen and (min-width : 768px) and (max-width : 960px){
	
	.main-header .main-nav{
		display:block;
		transition: height 2s;
	}
	
	#main{
		width:100%;
		float:none;

	}
	

}

/*smaller Tablets(Portrait and Landscap) */
@media only screen and (min-width : 569px) and (max-width : 767px){
	
	.main-header .main-nav{
		height:auto;
		display:block;
		overflow:hidden;
		width:99%;
		transition: width 1s;
	}	
	
	.main-header .main-nav ul{ 
		padding:2% 1%;
		text-align:center;
		width:98%;
	}
	
	.main-header .main-nav li{
		float:none;
		display:block;
		margin-right:0;
		width:100%;
		border-bottom:1px solid #a3293b;
	}
	
	.main-header .main-nav li a{
		margin-bottom:2px;
		text-align:center;
	}
	
	.main-header .main-nav li a:hover,.main-header .main-nav li a.active{
		display:block;
	}
	
	#main{
		width:100%;
		float:none;
	}
	.myCarousel{
		width:70%;
		height:70%;
		transition: width 1s;
		transition: height 1s;
	}
	#About .foto{
		width:35%;
		height:35%;
		border-width:3px;
	}
}
/*smartphones (Portrait and Landscap) */
@media only screen and (min-width : 240px) and (max-width : 568px){
	
	
	
	.main-header .main-nav{
		height:auto;
		display:block;
		overflow:hidden;
		width:99%;
		transition: width 1s;
	}	
	
	.main-header .main-nav ul{ 
		padding:2% 1%;
		text-align:center;
		width:98%;
	}
	
	.main-header .main-nav li{
		float:none;
		display:block;
		margin-right:0;
		width:100%;
		border-bottom:1px solid #a3293b;
	}
	
	.main-header .main-nav li a{
		margin-bottom:2px;
		text-align:center;
	}
	
	.main-header .main-nav li a:hover,.main-header .main-nav li a.active{
		display:block;
	}
	
	#main{
		width:100%;
		float:none;
	}
	
	.myCarousel{
		width:70%;
		height:70%;
		transition: width 2s, height 2s;
	}
	#About .foto{
		width:35%;
		height:35%;
		border-width:3px;
	}
}
